body{
    background-color: black;
    background-color: darkblue;
}
#count{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: relative;
    top: 150px;
    
    
}
.button{
    position: relative;
    top: 150px;
    font-size: 50px;    
    
}
#rollbutton{
    position: relative;
    top: 50px;
    font-size: 50px;    
    
}
#changebutton{
    position: relative;
    top: 50px;
    font-size: 50px;    
    
}
#titlepage{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: relative;
    top: 0px;
    
    
}
#labeltitle{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: relative;
    top: 0px;
    
    
}
#thedisplay{

    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    position: relative;
    top: 50px;
    

    
    
}
