body{
    background-color: black;
    background-color: darkblue;
}
p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;


}
h1{
    color: white;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border-style: outset;
    border-width: 5px;
    border-color: gold;
    border-radius: 10px;
    padding: 5px;
}
a {
    color: lightblue    ;
  }
.boxes{
    border: 5px solid;
    width: 250px;
    height: 250px;
    background-color: gold;

}



